@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Boxing Way<br />
    Chicago<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@boxing.com">Support@boxing.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@boxing.com">Marketing@boxing.com</a>
</address>