@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KnockoutsBoxing</h1>
    <p class="lead">KnockoutsBoxing website with polls and articles</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Articles</h2>
        <p>
            All the articles of the website
        </p>
        <p>@Html.ActionLink("Articles", "Index", "Articles")</p>
    </div>
    <div class="col-md-4">
        <h2>Polls</h2>
        <p>all the polls of the website</p>
        <p>@Html.ActionLink("Polls", "Index", "Polls")</p>
    </div>
    <div class="col-md-4">
        <h2>Other Stuff</h2>
        <p>some other stuff</p>

    </div>
</div>