<p>This is the page where the user role change is happening</p>
<p>This page is about Role changing to Admin</p>

<p>The Old Role of this User is @ViewBag.OldUserRole</p>

<p>The New Role of this User is @ViewBag.NewUserRole</p>

