@model IEnumerable<KnockoutsBoxing.Models.ApplicationUser>
@{
    ViewBag.Title = "Fighter Panel";
}


<p>This is the Fighter Page</p>


<p>List of All Polls Here -  @Html.ActionLink("List Of All Polls", "ListOfAllPolls", "Polls")</p>

<p>List of All Articles Here -  @Html.ActionLink("List Of All Articles", "ListOfAllArticles", "Articles")</p>

<p>List of All Comments Here -  @Html.ActionLink("List Of All Comments", "ListOfAllComments", "Comments")</p>

