@model IEnumerable<KnockoutsBoxing.Models.ApplicationUser>
@{
    ViewBag.Title = "Moderator Panel";
}


<p>This is the Moderator Page</p>

<p>Go Here To Ban a Specific User-  @Html.ActionLink("List Of All Users", "ListOfAllUsersModerator", "Admin")</p>
<p>Go to Articles and Flag Comments -@Html.ActionLink("Articles", "IndexSimple", "Articles")</p>

