@model IEnumerable<KnockoutsBoxing.Models.ApplicationUser>
@{
    ViewBag.Title = "Moderator Panel";
}


<p>This is the Moderator Page</p>

<p>List of All Users Here -  @Html.ActionLink("List Of All Users", "ListOfAllUsersModerator", "Admin")</p>

