@model IEnumerable<KnockoutsBoxing.Models.ApplicationUser>
@{
    ViewBag.Title = "Promotor Panel";
}


<p>This is the Promotor Page</p>


<p>List of All Polls Here -  @Html.ActionLink("List Of All Polls", "ListOfAllPolls", "Polls")</p>

<p>List of All Articles Here -  @Html.ActionLink("List Of All Articles", "ListOfAllArticles", "Articles")</p>
